.checkout{
  margin-bottom: 3rem;
  &.complete-all {
    height: 100vh;
    margin-bottom: 0;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url('https://images.unsplash.com/photo-1509460691319-135d8cfa14f9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: .35;
      z-index: -1;
    }
    .checkout-content{
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .order{
      height: 100%;
      .complete{
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.custom-control,.custom-control-input,.custom-control-label{
  cursor: pointer;
}
.information{
  max-width: 840px;
  margin: auto;
}
.transfer-remind{
  color: red;
  font-size: 0.9rem;
}
.text-small{
  font-size: 0.75rem;
  color: #795548;
}
// 進度條
.process{
  font-size: 1.25rem;
  .process-block{
    position: relative;
    width: 33.3333%;
    &:first-child{
      .process-no{
        &::after{
          display: none;
        }
      }
    }
  }
  .process-no{
    position: relative;
    color: #000;
    transition: all 1s ease;
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      height: 5px;
      background: #c8c8c8;
      width: 100%;
      z-index: -1;
      transition: all 1s ease;
    }
    &.finish{
        transition: all 1s;
      .process-no-round{
        color: #fff;
        background: #867162;
      }
      &::after{
        background: #867162;
      }
    }
    .process-no-round{
      width: 50px;
      height: 50px;
      display: inline-block;
      line-height: 50px;
      border-radius: 50%;
      color: #fff;
      background: #c8c8c8;
      transition: all 1s ease;
    }
  }
}
// 進度條

// 標題
.order-product, .order-info{
  position: relative;
  border: 1px solid #c7c7c7;
  border-radius: 5px 5px 0 0;
}
.order-title{
  color: #fff;
  background: #867162;
  border-bottom: 1px solid #c7c7c7;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  .order-title-num{
    display: inline-block;
    background: #ed8b44;
    padding: 0 0.5rem;
    border-radius: 5px;
  }
  .order-collapse{
    position: absolute;
    top: 12px;
    right: 16px;
    z-index: 5;
    color: #fff;
    transition: .5s;
    &.rotate {
      transform: rotate(-180deg);
    }
  }
}
.order-num{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
// 標題

// 購物清單
.table-col-1{
  width: 80px;
}
.table-col-2{
  width: 175px;
}
.shoppinglist{
  border-bottom: 1px solid #c7c7c7;
  &:last-child{
    border-bottom: none;
  }
}
.shoppinglist-item{
  .contents{
    display: flex;
    .contents-text{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 1rem;
      width: 140px;
    }
    .contents-text-title{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0;
    }
  }
}
.operating{
  display: flex;
  .operating-qty{
    position: relative;
  }
  .qty-loading{
    position: absolute;
    top: 6px;
    right: 70px;
  }
  .operating-inputqty{
    width: 60%;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #867162;
    border-bottom: 1px solid #867162;
    font-weight: 900;
  }
  .operating-less{
    background: #867162;
    color: #fff;
    padding: 1px 6px;
    border: none;
    border-radius: 0;
    border-radius: 5px 0 0 5px;
    i{
      padding: 0 1px;
    }
  }
  .operating-plus{
    background: #867162;
    color: #fff;
    padding: 1px 6px;
    border: none;
    border-radius: 0;
    border-radius: 0 5px 5px 0;
    i{
      padding: 0 1px;
    }
  }
  .operating-del{
    margin-left: auto;
    padding: 1px 5px;
    i{
      padding: 0 1px;
    }
  }
}
.price-total{
  font-size: 1.25rem;
  color: red;
}
.dollar{
  font-size: 0.85rem;
  margin-right: 3px;
}
// 購物清單

// 訂單資訊
.cost{
  .cost-item{
    .cost-item-title{
      display: inline-block;
      text-align: right;
      width: 50%;
    }
    .cost-item-price{
      display: inline-block;
      text-align: right;
      width: 50%;
    }
    &:last-child{
      .cost-item-title, .cost-item-price{
        font-size: 1.25rem;
        color: red;
      }
    }
  }
}
.cost-btn-group{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  border-top: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  &.cost-btn-fillin{
    flex-direction: column;
    align-items: flex-end;
    .cost-inside-btn-group{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
  .cost-btn-back{
    width: 40%;
  }
  .cost-btn-confirm{
    width: 55%;
  }
}
// 訂單資訊

// Vue transition start
.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}

.order-fade-enter-active,
.order-fade-leave-active {
  transition: all .5s ease;
}

.order-fade-enter {
  transform: translateX(50px);
  opacity: 0;
}

.order-fade-leave-to {
  transform: translateX(-50px);
  opacity: 0;
}
// end
.btn-complete{
  width: 45%;
}
.complete-text{
  background: rgba(255,255,255,.6);
  padding: 0.5rem;
}
.creditCardNumber{
  &.form-control:valid, .form-control:invalid{
    padding: 0.5rem;
    background-position: right 2px center;
    background-size: 0.75rem;
  }
}
.threeCodes{
  width: 25%;
  &.form-control:valid, .form-control:invalid{
    padding: 0.5rem;
    background-position: right 2px center;
    background-size: 0.75rem;
  }
}
.creditCardSelect{
  &.form-control:valid, .form-control:invalid{
    background-position: right 1.5rem center;
  }
}
.credit-card-number-group{
  input[type="tel"]{
    // text-align: center;
    font-size: 0.85rem;
  }
}
@media (min-width: 375px) {
  // 購物清單
  .table-col-1{
    width: 100px;
  }
  .shoppinglist-item{
    .contents{
      .contents-text{
        width: auto;
      }
    }
  }
  // 購物清單
  .credit-card-number-group{
    input[type="tel"]{
      font-size: 1rem;
    }
  }
  .complete-text{
    font-size: 1.25rem;
  }
}
@media (min-width: 414px) {
  // 訂單資訊
  .creditCardNumber{
    letter-spacing: 3px;
    &.form-control:valid, .form-control:invalid{
      // text-align: center;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }
  }
  .threeCodes{
    width: 90px;
    text-align: center;
    letter-spacing: 3px;
    &.form-control:valid, .form-control:invalid{
      padding-right: calc(1.5em + 0.75rem);
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }
  }
}
@media (min-width: 576px) {
  // 購物清單
  .shoppinglist-item{
    display: flex;
    justify-content: space-between;
    .operating{
      flex-direction: column-reverse;
      justify-content: space-between;
      .operating-qty{
        justify-content: flex-end;
      }
      .qty-loading{
        right: 35px;
      }
      .operating-del{
        padding: 5px;
      }
    }
  }
  // 購物清單

  // 訂單資訊
  .cost{
    display: flex;
    .cost-discount{
      width: 40%;
    }
    .cost-count{
      width: 60%;
    }
    .cost-item{
      .cost-item-title{
        width: 50%;
      }
      .cost-item-price{
        width: 50%;
      }
    }
  }
  // 訂單資訊
  .cost-btn-group{
    position: static;
    border-top: none;
  }
  .creditCardNumber{
    &.form-control:valid, .form-control:invalid{
      padding-right: calc(1.5em + 0.75rem);
      text-align: center;
    }
  }
}
@media (min-width: 768px) {
  .btn-complete{
    width: 35%;
  }
}
@media (min-width: 991px) {
  // 購物清單
  .table-space{
    margin: 0 0.5rem;
  }
  .shoppinglist{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .shoppinglist-item{
    width: 100%;
    justify-content: flex-start;
    .contents{
      justify-content: space-around;
      align-items: center;
      .contents-text{
        flex-direction: row;
        margin: 0;
      }
      .contents-text-title{
        text-align: center;
      }
      .contents-text-spec{
        text-align: center;
      }
      .contents-text-price{
        text-align: right;
      }
    }
    .operating{
      flex-direction: row;
      justify-content: start;
      align-items: center;
      width: 100%;
      .operating-qty{
        justify-content: center;
      }
      .qty-loading{
        right: 45px;
      }
      .operating-del{
        margin: auto;
      }
    }
  }
  .table-col-3{
    width: 100px;
  }
  .table-col-4{
    width: 50px;
  }
  .table-col-5{
    width: 200px;
  }
  .table-col-6{
    width: 75px;
  }
  // 購物清單

  // 訂單資訊
  .cost{
    justify-content: space-between;
    .cost-item{
      .cost-item-title{
        width: 70%;
      }
      .cost-item-price{
        width: 30%;
      }
    }
  }
  // 訂單資訊

  .checkout{
    &.complete-all {
      &::after {
        background-position: center right;
      }
    }
  }
  .complete-text{
    font-size: 1.5rem;
    padding: 1.5rem;
  }
}
@media (min-width: 1200px) {
  // 購物清單
  .table-col-2{
    width: 250px;
  }
  .table-space{
    margin: 0 1rem;
  }
  // 購物清單
}