/* 輪播 */
.bg-img {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.img1 {
  height: 400px;
  background-image: url(~@/assets/images/Cake.jpg);
}
.img2 {
  height: 400px;
  background-image: url(~@/assets/images/CupCake.jpg);
}
.img3 {
  height: 400px;
  background-image: url(~@/assets/images/Macaron.jpg);
}
/* 輪播 */
/* 訂閱 */

/* 訂閱 */
@media (min-width: 768px) {
  /* 768 以上 */
  .img1,
  .img2,
  .img3 {
    height: 800px;
  }
}