.classification{
  position: fixed;
  top: 88px;
  left: 0;
  z-index: 99;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0px 0px 5px 1px #cecece;
  transition: 0.5s;
  .classification-link{
    color: $gray-900;
    display: block;
    border-radius: 5px;
  }
  .classification-link.active{
    color: #fff;
    background: $main;
  }
}
.product-item{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  .product-content{
    margin-bottom: auto;
  }
  .product-content-img{    
    overflow: hidden;
    cursor: pointer;
    img{
      transform: scale(1);
      transition: 1s;
    }
  }
  &:hover{
    .product-content-img{
      img{
        transform: scale(1.05);
      }
    }
  }
  .product-content-text{
    .title{
      font-size: 1.25rem;
    }
  }
  .price{
    span{
      display: none;
    }
    .original{
      font-size: 0.75rem;
      color: gray;
      text-decoration:line-through;
    }
    .no-onSale, .onSale{
      color: red;
    }
  }
}
.single-features-btn{
  .addcart{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 375px) {
  .classification {
    .classification-link {
      letter-spacing: 3px;
    }
  }
}
@media (min-width: 768px) {
  .classification {
    position: sticky;
    top: 150px!important;
    box-shadow: none;
    .product-item {
      .price {
        span {
          display: inline-block;
        }
      }
    }
  }
}
@media (min-width: 991px) {
  .product-item{
    .large-size{
      padding: 0.5rem;
      border-radius: 0;
      font-size: 1.5rem;
    }
    position: relative;
    &:hover{
      .single-features-btn{
        right: 0;
      }
    }
  }
  .single-features-btn{
    position: absolute;
    // 210.5px - images height
    // 1rem - .addcart padding 上下各0.5rem
    // 27px - icon 25px + border 上下各 1px
    top: calc(210.5px - 1rem - 27px);
    right: -100%;
    transition: .3s;
    .addcart-text{
      display: none;
    }
  }
}
@media (min-width: 1200px) {
  .single-features-btn{
    // 255.5px - images height
    // 1rem - .addcart padding 上下各0.5rem
    // 27px - icon 25px + border 上下各 1px
    top: calc(255.5px - 1rem - 27px);
  }
}