.product-title, .price, .format, .qty{
  margin-bottom: 1rem;
}
.product{
  // 產品標題
  .product-title{
    font-size: 2rem;
  }
  // 小標題
  .small-text{
    font-size: 0.8rem;
    color: #929292;
  }
  // 價格區塊
  .price{
    .original{
      font-size: 0.75rem;
      color: gray;
      text-decoration:line-through;
    }
    .onSale{
      color: #f44336;
      font-size: 1.5rem;
    }
  }
  // 規格區塊
  .format-text{
    font-size: 1.1rem;
    border: 1px solid #867162;
    border-radius: 5px;
    color: #fff;
    background: #867162;
    padding: 0.5rem 1rem;
  }
  // 數量區塊
  .btn-compute{
    background: rgba(134, 113, 98, 90%);
    color: #fff;
    &.less{
      border-radius: 5px 0 0 5px;
    }
    &.plus{
      border-radius: 0 5px 5px 0;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .qty-counter{
    margin-bottom: 0.75rem;
    .qty-num{
      width: 100%;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #dedede;
      &:focus {
        outline: 0;
      }
    }
  }
}
// 購物 & 加入購物車 btn
.features-btn-group{
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  background: white;
  width: 100%;
  padding: 1rem;
  box-shadow: 0px 0px 5px 1px #cecece;
  z-index: 2;
  .addcart, .buycart{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// tab 分頁按鈕
.product-tab-menu{
  display: flex;
  .product-tab-item{
    width: calc(100% / 3);
    text-align: center;
    border-top: 1px solid rgba(134,113,98,0.5);
    border-right: 1px solid rgba(134,113,98,0.5);
    border-bottom: 1px solid rgba(134,113,98,0.5);
    &:first-child{
      border-left: 1px solid rgba(134,113,98,0.5);
    }
    .product-tab-link{
      color: rgba(134,113,98,0.75);
      cursor: pointer;
      display: block;
      transition: 0.5s;
    }
    &.active{
      border-top: 4px solid rgba(134,113,98,1);
      border-left: 1px solid rgba(134,113,98,1);
      border-right: 1px solid rgba(134,113,98,1);
      border-bottom:none;
      .product-tab-link{
        color: #543a27;
      }
    }
  }
}
// tab 分頁內容
  .product-tab-content{
    .delivery-title{
      font-size: 1.25rem;
    }
  }

@media (min-width: 576px) {
  .product{
    .qty-counter{
      margin-bottom: 1.5rem;
    }
  }
}
@media (min-width: 768px) {
  .product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .product-title{
      font-size: 2.5rem;
    }
    .qty-counter{
      .qty-num{
        width: 100%;
        &:focus {
          outline: 0;
        }
      }
    }
    .features-btn-group{
      position: static;
      padding: 0;
      box-shadow: none;
    }
  }
}
@media (min-width: 1024px) {
  .product{
    .qty-counter{
      .qty-num{
        width: calc(50% - 88px);
      }
    }
  }
}